body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 300px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box; /* Biar input gak luber */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #27ae60;
}

.hasil-box {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}
